.sprite-analysis-img { background-image: url("/spritemap.svg#sprite-sprite-analysis-img-fragment"); }
.sprite-arc-img { background-image: url("/spritemap.svg#sprite-sprite-arc-img-fragment"); }
.sprite-bookmarks-list-empty { background-image: url("/spritemap.svg#sprite-sprite-bookmarks-list-empty-fragment"); }
.sprite-cluster { background-image: url("/spritemap.svg#sprite-sprite-cluster-fragment"); }
.sprite-drag-files { background-image: url("/spritemap.svg#sprite-sprite-drag-files-fragment"); }
.sprite-editor-img { background-image: url("/spritemap.svg#sprite-sprite-editor-img-fragment"); }
.sprite-empty-folder-cloud { background-image: url("/spritemap.svg#sprite-sprite-empty-folder-cloud-fragment"); }
.sprite-empty-folder { background-image: url("/spritemap.svg#sprite-sprite-empty-folder-fragment"); }
.sprite-eos-storage { background-image: url("/spritemap.svg#sprite-sprite-eos-storage-fragment"); }
.sprite-favorites-img { background-image: url("/spritemap.svg#sprite-sprite-favorites-img-fragment"); }
.sprite-folder-empty { background-image: url("/spritemap.svg#sprite-sprite-folder-empty-fragment"); }
.sprite-folder-full-tiny { background-image: url("/spritemap.svg#sprite-sprite-folder-full-tiny-fragment"); }
.sprite-folder-full { background-image: url("/spritemap.svg#sprite-sprite-folder-full-fragment"); }
.sprite-folder { background-image: url("/spritemap.svg#sprite-sprite-folder-fragment"); }
.sprite-grid-r { background-image: url("/spritemap.svg#sprite-sprite-grid-r-fragment"); }
.sprite-grid { background-image: url("/spritemap.svg#sprite-sprite-grid-fragment"); }
.sprite-heatmap { background-image: url("/spritemap.svg#sprite-sprite-heatmap-fragment"); }
.sprite-layers-list-empty { background-image: url("/spritemap.svg#sprite-sprite-layers-list-empty-fragment"); }
.sprite-lines-img { background-image: url("/spritemap.svg#sprite-sprite-lines-img-fragment"); }
.sprite-link { background-image: url("/spritemap.svg#sprite-sprite-link-fragment"); }
.sprite-logo-mini { background-image: url("/spritemap.svg#sprite-sprite-logo-mini-fragment"); }
.sprite-logo { background-image: url("/spritemap.svg#sprite-sprite-logo-fragment"); }
.sprite-map { background-image: url("/spritemap.svg#sprite-sprite-map-fragment"); }
.sprite-pablish-img { background-image: url("/spritemap.svg#sprite-sprite-pablish-img-fragment"); }
.sprite-points { background-image: url("/spritemap.svg#sprite-sprite-points-fragment"); }
.sprite-preview-card { background-image: url("/spritemap.svg#sprite-sprite-preview-card-fragment"); }
.sprite-select-agregation-1 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-1-fragment"); }
.sprite-select-agregation-10 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-10-fragment"); }
.sprite-select-agregation-11 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-11-fragment"); }
.sprite-select-agregation-12 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-12-fragment"); }
.sprite-select-agregation-13 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-13-fragment"); }
.sprite-select-agregation-14 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-14-fragment"); }
.sprite-select-agregation-15 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-15-fragment"); }
.sprite-select-agregation-16 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-16-fragment"); }
.sprite-select-agregation-2 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-2-fragment"); }
.sprite-select-agregation-3 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-3-fragment"); }
.sprite-select-agregation-4 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-4-fragment"); }
.sprite-select-agregation-5 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-5-fragment"); }
.sprite-select-agregation-6 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-6-fragment"); }
.sprite-select-agregation-7 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-7-fragment"); }
.sprite-select-agregation-8 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-8-fragment"); }
.sprite-select-agregation-9 { background-image: url("/spritemap.svg#sprite-sprite-select-agregation-9-fragment"); }
.sprite-select-card { background-image: url("/spritemap.svg#sprite-sprite-select-card-fragment"); }
.sprite-select-folder-card { background-image: url("/spritemap.svg#sprite-sprite-select-folder-card-fragment"); }
.sprite-storage { background-image: url("/spritemap.svg#sprite-sprite-storage-fragment"); }
.sprite-svg-search-results { background-image: url("/spritemap.svg#sprite-sprite-svg-search-results-fragment"); }
.sprite-upload-dataset-img { background-image: url("/spritemap.svg#sprite-sprite-upload-dataset-img-fragment"); }
.sprite-vector-file-img { background-image: url("/spritemap.svg#sprite-sprite-vector-file-img-fragment"); }
.sprite-wd-1 { background-image: url("/spritemap.svg#sprite-sprite-wd-1-fragment"); }
.sprite-wd-10 { background-image: url("/spritemap.svg#sprite-sprite-wd-10-fragment"); }
.sprite-wd-11 { background-image: url("/spritemap.svg#sprite-sprite-wd-11-fragment"); }
.sprite-wd-2 { background-image: url("/spritemap.svg#sprite-sprite-wd-2-fragment"); }
.sprite-wd-3 { background-image: url("/spritemap.svg#sprite-sprite-wd-3-fragment"); }
.sprite-wd-4 { background-image: url("/spritemap.svg#sprite-sprite-wd-4-fragment"); }
.sprite-wd-5 { background-image: url("/spritemap.svg#sprite-sprite-wd-5-fragment"); }
.sprite-wd-6 { background-image: url("/spritemap.svg#sprite-sprite-wd-6-fragment"); }
.sprite-wd-7 { background-image: url("/spritemap.svg#sprite-sprite-wd-7-fragment"); }
.sprite-wd-8 { background-image: url("/spritemap.svg#sprite-sprite-wd-8-fragment"); }
.sprite-wd-9 { background-image: url("/spritemap.svg#sprite-sprite-wd-9-fragment"); }
.sprite-widgets-list-empty { background-image: url("/spritemap.svg#sprite-sprite-widgets-list-empty-fragment"); }