.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("sprite.svg");
    background-repeat: no-repeat;
    background-size: 44em 422.3em;
}


  .svg-icon.analysis-img:before {
      background-position: 0em 0em;
      width: 40em;
      height: 22.581em;
  }

  .svg-icon.arc-img:before {
      background-position: 0em -22.6em;
      width: 5.2em;
      height: 3em;
  }

  .svg-icon.bookmarks-list-empty:before {
      background-position: 0em -25.6em;
      width: 21.919em;
      height: 13.2em;
  }

  .svg-icon.cluster:before {
      background-position: 0em -38.8em;
      width: 5.1em;
      height: 3em;
  }

  .svg-icon.drag-files:before {
      background-position: 0em -41.8em;
      width: 4.3em;
      height: 5.777900000000001em;
  }

  .svg-icon.dropbox:before {
      background-position: 0em -47.6em;
      width: 4em;
      height: 3.7264000000000004em;
  }

  .svg-icon.editor-img:before {
      background-position: 0em -51.4em;
      width: 44em;
      height: 21.716em;
  }

  .svg-icon.empty-folder:before {
      background-position: 0em -73.2em;
      width: 21.374000000000002em;
      height: 16em;
  }

  .svg-icon.empty-folder-cloud:before {
      background-position: 0em -89.2em;
      width: 24.611em;
      height: 15.99em;
  }

  .svg-icon.eos-storage:before {
      background-position: 0em -105.2em;
      width: 1.8em;
      height: 1.8em;
  }

  .svg-icon.favorites-img:before {
      background-position: 0em -107em;
      width: 19em;
      height: 19.05em;
  }

  .svg-icon.folder:before {
      background-position: 0em -126.1em;
      width: 15.1em;
      height: 12.9em;
  }

  .svg-icon.folder-empty:before {
      background-position: 0em -139em;
      width: 3.029em;
      height: 2.42em;
  }

  .svg-icon.folder-full:before {
      background-position: 0em -141.5em;
      width: 2.8em;
      height: 2.4em;
  }

  .svg-icon.folder-full-tiny:before {
      background-position: 0em -143.9em;
      width: 1.4em;
      height: 1.2em;
  }

  .svg-icon.googledrive:before {
      background-position: 0em -145.1em;
      width: 4em;
      height: 3.4em;
  }

  .svg-icon.grid:before {
      background-position: 0em -148.5em;
      width: 5.1em;
      height: 3em;
  }

  .svg-icon.grid-r:before {
      background-position: 0em -151.5em;
      width: 5.1em;
      height: 3em;
  }

  .svg-icon.heatmap:before {
      background-position: 0em -154.5em;
      width: 5.2em;
      height: 3em;
  }

  .svg-icon.icon-404:before {
      background-position: 0em -157.5em;
      width: 12em;
      height: 12em;
  }

  .svg-icon.layers-list-empty:before {
      background-position: 0em -169.5em;
      width: 13.8em;
      height: 13.175em;
  }

  .svg-icon.lines-img:before {
      background-position: 0em -182.7em;
      width: 5.1em;
      height: 3em;
  }

  .svg-icon.link:before {
      background-position: 0em -185.7em;
      width: 33.962em;
      height: 18.713em;
  }

  .svg-icon.logo:before {
      background-position: 0em -204.5em;
      width: 12.999em;
      height: 2.402em;
  }

  .svg-icon.logo-mini:before {
      background-position: 0em -207em;
      width: 1.6em;
      height: 2.3em;
  }

  .svg-icon.mail-info:before {
      background-position: 0em -209.3em;
      width: 17em;
      height: 15.1em;
  }

  .svg-icon.map:before {
      background-position: 0em -224.4em;
      width: 2.6792000000000002em;
      height: 3.6em;
  }

  .svg-icon.mastercard-mini:before {
      background-position: 0em -228em;
      width: 3.5em;
      height: 2.3em;
  }

  .svg-icon.pablish-img:before {
      background-position: 0em -230.3em;
      width: 18.982em;
      height: 19.05em;
  }

  .svg-icon.points:before {
      background-position: 0em -249.4em;
      width: 5.1em;
      height: 3em;
  }

  .svg-icon.preview-card:before {
      background-position: 0em -252.4em;
      width: 13em;
      height: 10.238em;
  }

  .svg-icon.select-agregation-1:before {
      background-position: 0em -262.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-10:before {
      background-position: 0em -264.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-11:before {
      background-position: 0em -266.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-12:before {
      background-position: 0em -268.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-13:before {
      background-position: 0em -270.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-14:before {
      background-position: 0em -272.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-15:before {
      background-position: 0em -274.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-16:before {
      background-position: 0em -276.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-2:before {
      background-position: 0em -278.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-3:before {
      background-position: 0em -280.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-4:before {
      background-position: 0em -282.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-5:before {
      background-position: 0em -284.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-6:before {
      background-position: 0em -286.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-7:before {
      background-position: 0em -288.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-8:before {
      background-position: 0em -290.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-9:before {
      background-position: 0em -292.7em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-card:before {
      background-position: 0em -294.7em;
      width: 30.4em;
      height: 9.4em;
  }

  .svg-icon.select-folder-card:before {
      background-position: 0em -304.1em;
      width: 30.4em;
      height: 13.9em;
  }

  .svg-icon.storage:before {
      background-position: 0em -318em;
      width: 2.6824000000000003em;
      height: 2.4em;
  }

  .svg-icon.svg-data-auto-update:before {
      background-position: 0em -320.4em;
      width: 26.7em;
      height: 17.1em;
  }

  .svg-icon.svg-search-results:before {
      background-position: 0em -337.5em;
      width: 16.21em;
      height: 14.291999999999998em;
  }

  .svg-icon.upload-dataset-img:before {
      background-position: 0em -351.8em;
      width: 40em;
      height: 28.1em;
  }

  .svg-icon.vector-file-img:before {
      background-position: 0em -379.9em;
      width: 2.7em;
      height: 3.628em;
  }

  .svg-icon.visa-mini:before {
      background-position: 0em -383.6em;
      width: 4.2em;
      height: 1.4em;
  }

  .svg-icon.wd-1:before {
      background-position: 0em -385em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-10:before {
      background-position: 0em -387em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-11:before {
      background-position: 0em -389em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-2:before {
      background-position: 0em -391em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-3:before {
      background-position: 0em -393em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-4:before {
      background-position: 0em -395em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-5:before {
      background-position: 0em -397em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-6:before {
      background-position: 0em -399em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-7:before {
      background-position: 0em -401em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-8:before {
      background-position: 0em -403em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-9:before {
      background-position: 0em -405em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.widgets-list-empty:before {
      background-position: 0em -407em;
      width: 23em;
      height: 15.275em;
  }

