.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("sprite.svg");
    background-repeat: no-repeat;
    background-size: 44em 458.2em;
}


  .svg-icon.analysis-img:before {
      background-position: 0em 0em;
      width: 40em;
      height: 22.581em;
  }

  .svg-icon.arc-img:before {
      background-position: 0em -22.6em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.bookmarks-list-empty:before {
      background-position: 0em -24.6em;
      width: 21.919em;
      height: 13.2em;
  }

  .svg-icon.chrome-logo:before {
      background-position: 0em -37.8em;
      width: 5.6em;
      height: 5.6em;
  }

  .svg-icon.cluster:before {
      background-position: 0em -43.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.code-svg:before {
      background-position: 0em -45.4em;
      width: 24.159em;
      height: 13.537em;
  }

  .svg-icon.drag-files:before {
      background-position: 0em -59em;
      width: 4.3em;
      height: 5.777900000000001em;
  }

  .svg-icon.dropbox:before {
      background-position: 0em -64.8em;
      width: 4em;
      height: 3.7264000000000004em;
  }

  .svg-icon.editor-img:before {
      background-position: 0em -68.6em;
      width: 44em;
      height: 21.716em;
  }

  .svg-icon.empty-folder:before {
      background-position: 0em -90.4em;
      width: 21.374000000000002em;
      height: 16em;
  }

  .svg-icon.empty-folder-cloud:before {
      background-position: 0em -106.4em;
      width: 24.611em;
      height: 15.99em;
  }

  .svg-icon.eos-storage:before {
      background-position: 0em -122.4em;
      width: 1.8em;
      height: 1.8em;
  }

  .svg-icon.error-light:before {
      background-position: 0em -124.2em;
      width: 23.312em;
      height: 16.618000000000002em;
  }

  .svg-icon.favorites-img:before {
      background-position: 0em -140.9em;
      width: 19em;
      height: 19.05em;
  }

  .svg-icon.firefox-logo:before {
      background-position: 0em -160em;
      width: 5.6em;
      height: 5.779999999999999em;
  }

  .svg-icon.folder:before {
      background-position: 0em -165.8em;
      width: 15.1em;
      height: 12.9em;
  }

  .svg-icon.folder-empty:before {
      background-position: 0em -178.7em;
      width: 3.029em;
      height: 2.42em;
  }

  .svg-icon.folder-full:before {
      background-position: 0em -181.2em;
      width: 2.8em;
      height: 2.4em;
  }

  .svg-icon.folder-full-tiny:before {
      background-position: 0em -183.6em;
      width: 1.4em;
      height: 1.2em;
  }

  .svg-icon.googledrive:before {
      background-position: 0em -184.8em;
      width: 4em;
      height: 3.4em;
  }

  .svg-icon.grid:before {
      background-position: 0em -188.2em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.grid-r:before {
      background-position: 0em -190.2em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.heatmap:before {
      background-position: 0em -192.2em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.icon-404:before {
      background-position: 0em -194.2em;
      width: 12em;
      height: 12em;
  }

  .svg-icon.layers-list-empty:before {
      background-position: 0em -206.2em;
      width: 13.8em;
      height: 13.175em;
  }

  .svg-icon.lines-img:before {
      background-position: 0em -219.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.link:before {
      background-position: 0em -221.4em;
      width: 33.962em;
      height: 18.713em;
  }

  .svg-icon.logo:before {
      background-position: 0em -240.2em;
      width: 12.9em;
      height: 2.6em;
  }

  .svg-icon.logo-mini:before {
      background-position: 0em -242.8em;
      width: 3.2em;
      height: 3.2em;
  }

  .svg-icon.mail-info:before {
      background-position: 0em -246em;
      width: 17em;
      height: 15.1em;
  }

  .svg-icon.map:before {
      background-position: 0em -261.1em;
      width: 2.6792000000000002em;
      height: 3.6em;
  }

  .svg-icon.mastercard-mini:before {
      background-position: 0em -264.7em;
      width: 3.5em;
      height: 2.3em;
  }

  .svg-icon.pablish-img:before {
      background-position: 0em -267em;
      width: 18.982em;
      height: 19.05em;
  }

  .svg-icon.points:before {
      background-position: 0em -286.1em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.preview-card:before {
      background-position: 0em -288.1em;
      width: 13em;
      height: 10.238em;
  }

  .svg-icon.select-agregation-1:before {
      background-position: 0em -298.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-10:before {
      background-position: 0em -300.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-11:before {
      background-position: 0em -302.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-12:before {
      background-position: 0em -304.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-13:before {
      background-position: 0em -306.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-14:before {
      background-position: 0em -308.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-15:before {
      background-position: 0em -310.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-16:before {
      background-position: 0em -312.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-2:before {
      background-position: 0em -314.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-3:before {
      background-position: 0em -316.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-4:before {
      background-position: 0em -318.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-5:before {
      background-position: 0em -320.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-6:before {
      background-position: 0em -322.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-7:before {
      background-position: 0em -324.4em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-agregation-8:before {
      background-position: 0em -326.4em;
      width: 3.4em;
      height: 2.2em;
  }

  .svg-icon.select-agregation-9:before {
      background-position: 0em -328.6em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.select-card:before {
      background-position: 0em -330.6em;
      width: 30.4em;
      height: 9.4em;
  }

  .svg-icon.select-folder-card:before {
      background-position: 0em -340em;
      width: 30.4em;
      height: 13.9em;
  }

  .svg-icon.storage:before {
      background-position: 0em -353.9em;
      width: 2.6824000000000003em;
      height: 2.4em;
  }

  .svg-icon.svg-data-auto-update:before {
      background-position: 0em -356.3em;
      width: 26.7em;
      height: 17.1em;
  }

  .svg-icon.svg-search-results:before {
      background-position: 0em -373.4em;
      width: 16.21em;
      height: 14.291999999999998em;
  }

  .svg-icon.upload-dataset-img:before {
      background-position: 0em -387.7em;
      width: 40em;
      height: 28.1em;
  }

  .svg-icon.vector-file-img:before {
      background-position: 0em -415.8em;
      width: 2.7em;
      height: 3.628em;
  }

  .svg-icon.visa-mini:before {
      background-position: 0em -419.5em;
      width: 4.2em;
      height: 1.4em;
  }

  .svg-icon.wd-1:before {
      background-position: 0em -420.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-10:before {
      background-position: 0em -422.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-11:before {
      background-position: 0em -424.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-2:before {
      background-position: 0em -426.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-3:before {
      background-position: 0em -428.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-4:before {
      background-position: 0em -430.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-5:before {
      background-position: 0em -432.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-6:before {
      background-position: 0em -434.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-7:before {
      background-position: 0em -436.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-8:before {
      background-position: 0em -438.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.wd-9:before {
      background-position: 0em -440.9em;
      width: 3.4em;
      height: 2em;
  }

  .svg-icon.widgets-list-empty:before {
      background-position: 0em -442.9em;
      width: 23em;
      height: 15.275em;
  }

