@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?6ie35e');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?6ie35e#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?6ie35e') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?6ie35e') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?6ie35e#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="eos_"], [class*=" eos_"], .ui.label> .icon, .dropdown.icon.add, .close.icon, .chevron.icon, .ui.message>.close.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eos_ic_checkbox_blank_circle_outline {
  &:before {
    content: @eos_ic_checkbox_blank_circle_outline;
  }
}
.eos_ic_checkbox_blank_circle {
  &:before {
    content: @eos_ic_checkbox_blank_circle;
  }
}
.eos_ic_open_new {
  &:before {
    content: @eos_ic_open_new;
  }
}
.eos_ic_WMC1 {
  &:before {
    content: @eos_ic_WMC1;
  }
}
.eos_ic_WMC {
  &:before {
    content: @eos_ic_WMC;
  }
}
.eos_ic_mobile_menu {
  &:before {
    content: @eos_ic_mobile_menu;
  }
}
.eos_ic_mobile_menu_2 {
  &:before {
    content: @eos_ic_mobile_menu_2;
  }
}
.eos_ic_remove_row {
  &:before {
    content: @eos_ic_remove_row;
  }
}
.eos_ic_magnify_minus {
  &:before {
    content: @eos_ic_magnify_minus;
  }
}
.eos_ic_magnify_plus {
  &:before {
    content: @eos_ic_magnify_plus;
  }
}
.eos_ic_vector_layer {
  &:before {
    content: @eos_ic_vector_layer;
  }
}
.eos_ic_lassification {
  &:before {
    content: @eos_ic_lassification;
  }
}
.eos_ic_comparison_images {
  &:before {
    content: @eos_ic_comparison_images;
  }
}
.eos_ic_insert_photo {
  &:before {
    content: @eos_ic_insert_photo;
  }
}
.eos_ic_remove {
  &:before {
    content: @eos_ic_remove;
  }
}
.eos_ic_add {
  &:before {
    content: @eos_ic_add;
  }
}
.eos_i_change_sort {
  &:before {
    content: @eos_i_change_sort;
  }
}
.eos_ic_timelapse {
  &:before {
    content: @eos_ic_timelapse;
  }
}
.eos_ic_forward_arrow {
  &:before {
    content: @eos_ic_forward_arrow;
  }
}
.eos_ic_square {
  &:before {
    content: @eos_ic_square;
  }
}
.eos_ic_percentage {
  &:before {
    content: @eos_ic_percentage;
  }
}
.eos_ic_analytics {
  &:before {
    content: @eos_ic_analytics;
  }
}
.eos_ic_pixel_resolution {
  &:before {
    content: @eos_ic_pixel_resolution;
  }
}
.eos_ic_shopping_cart {
  &:before {
    content: @eos_ic_shopping_cart;
  }
}
.eos_ic_add_column {
  &:before {
    content: @eos_ic_add_column;
  }
}
.eos_ic_add_point {
  &:before {
    content: @eos_ic_add_point;
  }
}
.eos_ic_add_row {
  &:before {
    content: @eos_ic_add_row;
  }
}
.eos_ic_draw_line {
  &:before {
    content: @eos_ic_draw_line;
  }
}
.eos_ic_draw_polygon {
  &:before {
    content: @eos_ic_draw_polygon;
  }
}
.eos_ic_edit_outline {
  &:before {
    content: @eos_ic_edit_outline;
  }
}
.eos_ic_file-document_box {
  &:before {
    content: @eos_ic_file-document_box;
  }
}
.eos_ic_file-document {
  &:before {
    content: @eos_ic_file-document;
  }
}
.eos_ic_layers_2 {
  &:before {
    content: @eos_ic_layers_2;
  }
}
.eos_ic_map_2 {
  &:before {
    content: @eos_ic_map_2;
  }
}
.eos_ic_polygon_indefined {
  &:before {
    content: @eos_ic_polygon_indefined;
  }
}
.eos_ic_table_view_column {
  &:before {
    content: @eos_ic_table_view_column;
  }
}
.eos_ic_table_view_form {
  &:before {
    content: @eos_ic_table_view_form;
  }
}
.eos_ic_view_cards {
  &:before {
    content: @eos_ic_view_cards;
  }
}
.eos_ic_view_list_2 {
  &:before {
    content: @eos_ic_view_list_2;
  }
}
.eos_ic_lightning {
  &:before {
    content: @eos_ic_lightning;
  }
}
.eos_ic_chain {
  &:before {
    content: @eos_ic_chain;
  }
}
.eos_ic_hide_panel {
  &:before {
    content: @eos_ic_hide_panel;
  }
}
.eos_ic_legend {
  &:before {
    content: @eos_ic_legend;
  }
}
.eos_ic_bands_mapping {
  &:before {
    content: @eos_ic_bands_mapping;
  }
}
.eos_ic_person_group {
  &:before {
    content: @eos_ic_person_group;
  }
}
.eos_ic_group_add {
  &:before {
    content: @eos_ic_group_add;
  }
}
.eos_ic_group {
  &:before {
    content: @eos_ic_group;
  }
}
.eos_ic_start_processing {
  &:before {
    content: @eos_ic_start_processing;
  }
}
.eos_ic_3d {
  &:before {
    content: @eos_ic_3d;
  }
}
.eos_ic_coins {
  &:before {
    content: @eos_ic_coins;
  }
}
.eos_ic_navigation {
  &:before {
    content: @eos_ic_navigation;
  }
}
.eos_ic_pie_chart {
  &:before {
    content: @eos_ic_pie_chart;
  }
}
.eos_ic_timeline {
  &:before {
    content: @eos_ic_timeline;
  }
}
.eos_ic_add_alert {
  &:before {
    content: @eos_ic_add_alert;
  }
}
.eos_ic_info_index {
  &:before {
    content: @eos_ic_info_index;
  }
}
.eos_ic_add_location {
  &:before {
    content: @eos_ic_add_location;
  }
}
.eos_ic_attach_file {
  &:before {
    content: @eos_ic_attach_file;
  }
}
.eos_ic_back_arrow {
  &:before {
    content: @eos_ic_back_arrow;
  }
}
.eos_ic_equalizer {
  &:before {
    content: @eos_ic_equalizer;
  }
}
.eos_ic_find_in_page {
  &:before {
    content: @eos_ic_find_in_page;
  }
}
.eos_ic_format_color_fill {
  &:before {
    content: @eos_ic_format_color_fill;
  }
}
.eos_ic_format_color_reset {
  &:before {
    content: @eos_ic_format_color_reset;
  }
}
.eos_ic_gps_off {
  &:before {
    content: @eos_ic_gps_off;
  }
}
.eos_ic_layers_clear {
  &:before {
    content: @eos_ic_layers_clear;
  }
}
.eos_ic_menu {
  &:before {
    content: @eos_ic_menu;
  }
}
.eos_ic_photo_library {
  &:before {
    content: @eos_ic_photo_library;
  }
}
.eos_ic_polarization {
  &:before {
    content: @eos_ic_polarization;
  }
}
.eos_ic_portrait_export-copy {
  &:before {
    content: @eos_ic_portrait_export-copy;
  }
}
.eos_ic_portrait_export {
  &:before {
    content: @eos_ic_portrait_export;
  }
}
.eos_ic_relative_orbit {
  &:before {
    content: @eos_ic_relative_orbit;
  }
}
.eos_ic_scan {
  &:before {
    content: @eos_ic_scan;
  }
}
.eos_ic_touch_app_export {
  &:before {
    content: @eos_ic_touch_app_export;
  }
}
.eos_ic_verified_user {
  &:before {
    content: @eos_ic_verified_user;
  }
}
.eos_ic_weather_cloudy {
  &:before {
    content: @eos_ic_weather_cloudy;
  }
}
.eos_ic_weather_hail {
  &:before {
    content: @eos_ic_weather_hail;
  }
}
.eos_ic_weather_lightning_rainy {
  &:before {
    content: @eos_ic_weather_lightning_rainy;
  }
}
.eos_ic_weather_lightning {
  &:before {
    content: @eos_ic_weather_lightning;
  }
}
.eos_ic_weather_partlycloudy {
  &:before {
    content: @eos_ic_weather_partlycloudy;
  }
}
.eos_ic_weather_pouring {
  &:before {
    content: @eos_ic_weather_pouring;
  }
}
.eos_ic_weather_rainy {
  &:before {
    content: @eos_ic_weather_rainy;
  }
}
.eos_ic_weather_snowy_rainy {
  &:before {
    content: @eos_ic_weather_snowy_rainy;
  }
}
.eos_ic_weather_snowy {
  &:before {
    content: @eos_ic_weather_snowy;
  }
}
.eos_ic_weather_sunny {
  &:before {
    content: @eos_ic_weather_sunny;
  }
}
.eos_ic_weather_windy {
  &:before {
    content: @eos_ic_weather_windy;
  }
}
.eos_ic_desktop_mac {
  &:before {
    content: @eos_ic_desktop_mac;
  }
}
.eos_ic_email {
  &:before {
    content: @eos_ic_email;
  }
}
.eos_ic_account_box {
  &:before {
    content: @eos_ic_account_box;
  }
}
.eos_ic_account_circle {
  &:before {
    content: @eos_ic_account_circle;
  }
}
.eos_ic_add_circle {
  &:before {
    content: @eos_ic_add_circle;
  }
}
.eos_ic_angle_image {
  &:before {
    content: @eos_ic_angle_image;
  }
}
.eos_ic_aoi_line {
  &:before {
    content: @eos_ic_aoi_line;
  }
}
.eos_ic_aoi_multipolygon_2 {
  &:before {
    content: @eos_ic_aoi_multipolygon_2;
  }
}
.eos_ic_aoi_multipolygon {
  &:before {
    content: @eos_ic_aoi_multipolygon;
  }
}
.eos_ic_aoi_polygon {
  &:before {
    content: @eos_ic_aoi_polygon;
  }
}
.eos_ic_apps {
  &:before {
    content: @eos_ic_apps;
  }
}
.eos_ic_archive {
  &:before {
    content: @eos_ic_archive;
  }
}
.eos_ic_area_units {
  &:before {
    content: @eos_ic_area_units;
  }
}
.eos_ic_arrow_back {
  &:before {
    content: @eos_ic_arrow_back;
  }
}
.eos_ic_arrow_downward {
  &:before {
    content: @eos_ic_arrow_downward;
  }
}
.eos_ic_arrow_drop_down {
  &:before {
    content: @eos_ic_arrow_drop_down;
  }
}
.eos_ic_arrow_drop_up {
  &:before {
    content: @eos_ic_arrow_drop_up;
  }
}
.eos_ic_arrow_forward {
  &:before {
    content: @eos_ic_arrow_forward;
  }
}
.eos_ic_arrow_left {
  &:before {
    content: @eos_ic_arrow_left;
  }
}
.eos_ic_arrow_right {
  &:before {
    content: @eos_ic_arrow_right;
  }
}
.eos_ic_arrow_upward {
  &:before {
    content: @eos_ic_arrow_upward;
  }
}
.eos_ic_autorenew {
  &:before {
    content: @eos_ic_autorenew;
  }
}
.eos_ic_bookmark_border {
  &:before {
    content: @eos_ic_bookmark_border;
  }
}
.eos_ic_bookmark {
  &:before {
    content: @eos_ic_bookmark;
  }
}
.eos_ic_brightness_3 {
  &:before {
    content: @eos_ic_brightness_3;
  }
}
.eos_ic_brush {
  &:before {
    content: @eos_ic_brush;
  }
}
.eos_ic_call_missed {
  &:before {
    content: @eos_ic_call_missed;
  }
}
.eos_ic_cancel {
  &:before {
    content: @eos_ic_cancel;
  }
}
.eos_ic_check_circle {
  &:before {
    content: @eos_ic_check_circle;
  }
}
.eos_ic_chevron_left {
  &:before {
    content: @eos_ic_chevron_left;
  }
}
.eos_ic_chevron_right {
  &:before {
    content: @eos_ic_chevron_right;
  }
}
.eos_ic_close_tags {
  &:before {
    content: @eos_ic_close_tags;
  }
}
.eos_ic_close {
  &:before {
    content: @eos_ic_close;
  }
}
.eos_ic_cloud_done {
  &:before {
    content: @eos_ic_cloud_done;
  }
}
.eos_ic_cloud_download {
  &:before {
    content: @eos_ic_cloud_download;
  }
}
.eos_ic_cloud_upload {
  &:before {
    content: @eos_ic_cloud_upload;
  }
}
.eos_ic_cloud {
  &:before {
    content: @eos_ic_cloud;
  }
}
.eos_ic_cloudiness {
  &:before {
    content: @eos_ic_cloudiness;
  }
}
.eos_ic_code {
  &:before {
    content: @eos_ic_code;
  }
}
.eos_ic_color_lens {
  &:before {
    content: @eos_ic_color_lens;
  }
}
.eos_ic_colorize {
  &:before {
    content: @eos_ic_colorize;
  }
}
.eos_ic_comment {
  &:before {
    content: @eos_ic_comment;
  }
}
.eos_ic_content_copy {
  &:before {
    content: @eos_ic_content_copy;
  }
}
.eos_ic_contrast_stretching {
  &:before {
    content: @eos_ic_contrast_stretching;
  }
}
.eos_ic_create_new_folder {
  &:before {
    content: @eos_ic_create_new_folder;
  }
}
.eos_ic_create {
  &:before {
    content: @eos_ic_create;
  }
}
.eos_ic_crop {
  &:before {
    content: @eos_ic_crop;
  }
}
.eos_ic_delete {
  &:before {
    content: @eos_ic_delete;
  }
}
.eos_ic_done {
  &:before {
    content: @eos_ic_done;
  }
}
.eos_ic_download_circle {
  &:before {
    content: @eos_ic_download_circle;
  }
}
.eos_ic_draw_circular_aoi {
  &:before {
    content: @eos_ic_draw_circular_aoi;
  }
}
.eos_ic_draw_polygonal_aoi {
  &:before {
    content: @eos_ic_draw_polygonal_aoi;
  }
}
.eos_ic_draw_rectangular_aoi {
  &:before {
    content: @eos_ic_draw_rectangular_aoi;
  }
}
.eos_ic_error {
  &:before {
    content: @eos_ic_error;
  }
}
.eos_ic_exit_to_app {
  &:before {
    content: @eos_ic_exit_to_app;
  }
}
.eos_ic_expand_less {
  &:before {
    content: @eos_ic_expand_less;
  }
}
.eos_ic_expand_more {
  &:before {
    content: @eos_ic_expand_more;
  }
}
.eos_ic_explore {
  &:before {
    content: @eos_ic_explore;
  }
}
.eos_ic_favorite_border {
  &:before {
    content: @eos_ic_favorite_border;
  }
}
.eos_ic_favorite {
  &:before {
    content: @eos_ic_favorite;
  }
}
.eos_ic_feedback {
  &:before {
    content: @eos_ic_feedback;
  }
}
.eos_ic_file_download {
  &:before {
    content: @eos_ic_file_download;
  }
}
.eos_ic_file_upload {
  &:before {
    content: @eos_ic_file_upload;
  }
}
.eos_ic_filter {
  &:before {
    content: @eos_ic_filter;
  }
}
.eos_ic_folder_shared {
  &:before {
    content: @eos_ic_folder_shared;
  }
}
.eos_ic_folder {
  &:before {
    content: @eos_ic_folder;
  }
}
.eos_ic_format_indent_decrease {
  &:before {
    content: @eos_ic_format_indent_decrease;
  }
}
.eos_ic_format_indent_increase {
  &:before {
    content: @eos_ic_format_indent_increase;
  }
}
.eos_ic_fullscreen {
  &:before {
    content: @eos_ic_fullscreen;
  }
}
.eos_ic_gps_fixed {
  &:before {
    content: @eos_ic_gps_fixed;
  }
}
.eos_ic_gps_not_fixed {
  &:before {
    content: @eos_ic_gps_not_fixed;
  }
}
.eos_ic_grid {
  &:before {
    content: @eos_ic_grid;
  }
}
.eos_ic_help_outline {
  &:before {
    content: @eos_ic_help_outline;
  }
}
.eos_ic_help {
  &:before {
    content: @eos_ic_help;
  }
}
.eos_ic_info_outline {
  &:before {
    content: @eos_ic_info_outline;
  }
}
.eos_ic_info_pin {
  &:before {
    content: @eos_ic_info_pin;
  }
}
.eos_ic_info {
  &:before {
    content: @eos_ic_info;
  }
}
.eos_ic_insert_drive_file {
  &:before {
    content: @eos_ic_insert_drive_file;
  }
}
.eos_ic_layers {
  &:before {
    content: @eos_ic_layers;
  }
}
.eos_ic_link {
  &:before {
    content: @eos_ic_link;
  }
}
.eos_ic_local_offer {
  &:before {
    content: @eos_ic_local_offer;
  }
}
.eos_ic_lock {
  &:before {
    content: @eos_ic_lock;
  }
}
.eos_ic_map_label {
  &:before {
    content: @eos_ic_map_label;
  }
}
.eos_ic_map {
  &:before {
    content: @eos_ic_map;
  }
}
.eos_ic_measure_distance {
  &:before {
    content: @eos_ic_measure_distance;
  }
}
.eos_ic_mood_bad {
  &:before {
    content: @eos_ic_mood_bad;
  }
}
.eos_ic_mood {
  &:before {
    content: @eos_ic_mood;
  }
}
.eos_ic_more_horiz {
  &:before {
    content: @eos_ic_more_horiz;
  }
}
.eos_ic_more_vert {
  &:before {
    content: @eos_ic_more_vert;
  }
}
.eos_ic_move_to_folder {
  &:before {
    content: @eos_ic_move_to_folder;
  }
}
.eos_ic_my_aoi {
  &:before {
    content: @eos_ic_my_aoi;
  }
}
.eos_ic_note_add {
  &:before {
    content: @eos_ic_note_add;
  }
}
.eos_ic_notifications_off {
  &:before {
    content: @eos_ic_notifications_off;
  }
}
.eos_ic_notifications {
  &:before {
    content: @eos_ic_notifications;
  }
}
.eos_ic_open_with {
  &:before {
    content: @eos_ic_open_with;
  }
}
.eos_ic_pause {
  &:before {
    content: @eos_ic_pause;
  }
}
.eos_ic_payment {
  &:before {
    content: @eos_ic_payment;
  }
}
.eos_ic_person_remove {
  &:before {
    content: @eos_ic_person_remove;
  }
}
.eos_ic_person {
  &:before {
    content: @eos_ic_person;
  }
}
.eos_ic_place {
  &:before {
    content: @eos_ic_place;
  }
}
.eos_ic_play_arrow {
  &:before {
    content: @eos_ic_play_arrow;
  }
}
.eos_ic_public {
  &:before {
    content: @eos_ic_public;
  }
}
.eos_ic_refresh {
  &:before {
    content: @eos_ic_refresh;
  }
}
.eos_ic_restore {
  &:before {
    content: @eos_ic_restore;
  }
}
.eos_ic_satellite {
  &:before {
    content: @eos_ic_satellite;
  }
}
.eos_ic_schedule {
  &:before {
    content: @eos_ic_schedule;
  }
}
.eos_ic_search {
  &:before {
    content: @eos_ic_search;
  }
}
.eos_ic_send_up {
  &:before {
    content: @eos_ic_send_up;
  }
}
.eos_ic_settings {
  &:before {
    content: @eos_ic_settings;
  }
}
.eos_ic_share {
  &:before {
    content: @eos_ic_share;
  }
}
.eos_ic_shopping_basket {
  &:before {
    content: @eos_ic_shopping_basket;
  }
}
.eos_ic_social_facebook {
  &:before {
    content: @eos_ic_social_facebook;
  }
}
.eos_ic_social_google {
  &:before {
    content: @eos_ic_social_google;
  }
}
.eos_ic_social_linkedin {
  &:before {
    content: @eos_ic_social_linkedin;
  }
}
.eos_ic_social_twitter {
  &:before {
    content: @eos_ic_social_twitter;
  }
}
.eos_ic_star {
  &:before {
    content: @eos_ic_star;
  }
}
.eos_ic_stop {
  &:before {
    content: @eos_ic_stop;
  }
}
.eos_ic_strorage_large {
  &:before {
    content: @eos_ic_strorage_large;
  }
}
.eos_ic_swap_horiz {
  &:before {
    content: @eos_ic_swap_horiz;
  }
}
.eos_ic_today {
  &:before {
    content: @eos_ic_today;
  }
}
.eos_ic_upload_file {
  &:before {
    content: @eos_ic_upload_file;
  }
}
.eos_ic_upload_folder {
  &:before {
    content: @eos_ic_upload_folder;
  }
}
.eos_ic_view_list {
  &:before {
    content: @eos_ic_view_list;
  }
}
.eos_ic_view_module {
  &:before {
    content: @eos_ic_view_module;
  }
}
.eos_ic_visibility_off {
  &:before {
    content: @eos_ic_visibility_off;
  }
}
.eos_ic_visibility {
  &:before {
    content: @eos_ic_visibility;
  }
}
.eos_ic_wallpaper {
  &:before {
    content: @eos_ic_wallpaper;
  }
}
.eos_ic_wb_sunny {
  &:before {
    content: @eos_ic_wb_sunny;
  }
}
.eos_ic_widgets {
  &:before {
    content: @eos_ic_widgets;
  }
}
