@icomoon-font-family: "eos-icons-products";
@icomoon-font-path: "fonts";

@eos_ic_keyboard: "\e943";
@eos_ic_autorenew: "\e93f";
@eos_ic_draw_circular_aoi: "\e940";
@eos_ic_map_3d: "\e941";
@eos_ic_star_outline: "\e942";
@eos_ic_draw_polygonal_aoi: "\e945";
@eos_ic_draw_rectangular_aoi: "\e947";
@eos_ic_fullscreen-on: "\e952";
@eos_ic_fullscreen-off: "\e953";
@eos_ic_colorize: "\e95f";
@eos_ic_file-download: "\e962";
@eos_ic_sort_down: "\e93b";
@eos_ic_sort_up: "\e93c";
@eos_ic_mdi_crop_portrait: "\e933";
@eos_ic_mdi_crop_landscape: "\e934";
@eos_ic_print: "\e939";
@eos_ic_show_panel: "\e93a";
@eos_ic_published: "\e92c";
@eos_ic_move_to_folder: "\e92e";
@eos_ic_folder: "\e931";
@eos_ic_feedback: "\e932";
@eos_ic_create_new_folder: "\e92b";
@eos_ic_dark_light: "\e929";
@eos_ic_grapf: "\e924";
@eos_ic_aoi_geometry_collection: "\e927";
@eos_ic_file_replace: "\e914";
@eos_ic_loop: "\e919";
@eos_ic_update_add: "\e906";
@eos_ic_equalizer_add: "\e90b";
@eos_ic_layers_add: "\e917";
@eos_ic_bookmark_add: "\e918";
@eos_ic_update: "\e904";
@eos_ic_folder_open: "\e900";
@eos_ic_checkbox_blank_circle_outline: "\e9d2";
@eos_ic_checkbox_blank_circle: "\e9d3";
@eos_ic_open_new: "\e9d4";
@eos_ic_mobile_menu: "\e9ce";
@eos_ic_mobile_menu_2: "\e9cf";
@eos_ic_remove_row: "\e9cd";
@eos_ic_insert_photo: "\e94e";
@eos_ic_remove: "\e968";
@eos_ic_add: "\e903";
@eos_ic_add_column: "\e9b2";
@eos_ic_add_point: "\e9b3";
@eos_ic_add_row: "\e9b4";
@eos_ic_draw_line: "\e9b5";
@eos_ic_draw_polygon: "\e9b6";
@eos_ic_edit_outline: "\e9b7";
@eos_ic_file-document_box: "\e9b8";
@eos_ic_file-document: "\e9b9";
@eos_ic_layers_2: "\e9ba";
@eos_ic_map_2: "\e9bb";
@eos_ic_polygon_indefined: "\e9bc";
@eos_ic_table_view_column: "\e9bd";
@eos_ic_table_view_form: "\e9be";
@eos_ic_view_cards: "\e9bf";
@eos_ic_view_list_2: "\e97c";
@eos_ic_lightning: "\e9b0";
@eos_ic_chain: "\e9b1";
@eos_ic_hide_panel: "\e9ae";
@eos_ic_legend: "\e9af";
@eos_ic_3d: "\e9a5";
@eos_ic_equalizer: "\e989";
@eos_ic_photo_library: "\e990";
@eos_ic_account_circle: "\e901";
@eos_ic_add_circle: "\e902";
@eos_ic_aoi_line: "\e905";
@eos_ic_aoi_multipolygon: "\e907";
@eos_ic_aoi_polygon: "\e908";
@eos_ic_apps: "\e909";
@eos_ic_archive: "\e90a";
@eos_ic_arrow_back: "\e90c";
@eos_ic_arrow_downward: "\e90d";
@eos_ic_arrow_drop_down: "\e90e";
@eos_ic_arrow_drop_up: "\e90f";
@eos_ic_arrow_forward: "\e910";
@eos_ic_arrow_left: "\e911";
@eos_ic_arrow_right: "\e912";
@eos_ic_arrow_upward: "\e913";
@eos_ic_bookmark_border: "\e915";
@eos_ic_bookmark: "\e916";
@eos_ic_cancel: "\e91a";
@eos_ic_check_circle: "\e91b";
@eos_ic_chevron_left: "\e91c";
@eos_ic_chevron_right: "\e91d";
@eos_ic_close_tags: "\e91e";
@eos_ic_close: "\e91f";
@eos_ic_cloud_done: "\e920";
@eos_ic_cloud_download: "\e921";
@eos_ic_cloud_upload: "\e922";
@eos_ic_cloud: "\e923";
@eos_ic_code: "\e925";
@eos_ic_color_lens: "\e926";
@eos_ic_comment: "\e928";
@eos_ic_content_copy: "\e92a";
@eos_ic_create: "\e92d";
@eos_ic_delete: "\e92f";
@eos_ic_done: "\e930";
@eos_ic_error: "\e935";
@eos_ic_exit_to_app: "\e936";
@eos_ic_expand_less: "\e937";
@eos_ic_expand_more: "\e938";
@eos_ic_file_download: "\e93d";
@eos_ic_file_upload: "\e93e";
@eos_ic_fullscreen: "\e944";
@eos_ic_gps_not_fixed: "\e946";
@eos_ic_help_outline: "\e948";
@eos_ic_help: "\e949";
@eos_ic_info_outline: "\e94a";
@eos_ic_info: "\e94c";
@eos_ic_insert_drive_file: "\e94d";
@eos_ic_layers: "\e94f";
@eos_ic_link: "\e950";
@eos_ic_map: "\e954";
@eos_ic_mood_bad: "\e956";
@eos_ic_mood: "\e957";
@eos_ic_more_horiz: "\e958";
@eos_ic_more_vert: "\e959";
@eos_ic_my_aoi: "\e95b";
@eos_ic_note_add: "\e95c";
@eos_ic_notifications: "\e95e";
@eos_ic_pause: "\e960";
@eos_ic_payment: "\e961";
@eos_ic_person: "\e963";
@eos_ic_place: "\e964";
@eos_ic_play_arrow: "\e965";
@eos_ic_public: "\e966";
@eos_ic_refresh: "\e967";
@eos_ic_search: "\e96c";
@eos_ic_settings: "\e96e";
@eos_ic_social_facebook: "\e971";
@eos_ic_social_google: "\e972";
@eos_ic_social_linkedin: "\e973";
@eos_ic_social_twitter: "\e974";
@eos_ic_star: "\e975";
@eos_ic_stop: "\e976";
@eos_ic_swap_horiz: "\e978";
@eos_ic_upload_file: "\e97a";
@eos_ic_visibility_off: "\e97e";
@eos_ic_visibility: "\e97f";

